body {
    background-color: #fff;
    font-size: 15px;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

  /* Home Page CSS */

  .home-msg {
    margin: 30px 0 30px 0;
    color:sandybrown;

}


.card {
    margin: 20px 0 20px 0;
}
